<%- include ("../partials/header") %>

<!-- START -->
<div id="index-page">
  <div id="video-nav">
    <a class="video-button back-button" href="/playlists">Back</a>
    <h1><%= PLAYLIST.name %></h1>
    <a class="video-button shuffle-button" href="<%= RANDOM_VID %>">Shuffle</a>
  </div>
  <div id="item-grid">
    <form action="/api/playlists/<%= PLAYLIST.id %>/delete-videos" method="POST">
      <% PLAYLIST.videos.forEach(vid => { %>
      <div class="item"><input type="checkbox" name="<%= vid.id %>" /><a href="/playlists/<%= PLAYLIST.id %><%= vid.src %>"><%= vid.name %></a></div>
      <% }); %>
      <input type="submit" />
    </form>
  </div>
</div>
<!-- END -->

<%- include ("../partials/footer") %>
