<%- include ("partials/header") %>

<!-- START -->
<div id="index-page">
  <h1><%= DIR_NAME %></h1>
  <div id="video-nav">
    <a class="video-button back-button" href="/">Back</a>
    <a class="video-button shuffle-button" href="/directory/<%= DIR_NAME %>/edit">Edit</a>
    <a class="video-button shuffle-button" href="<%= RANDOM_VID %>?mode=<%= MODE %>&playlist=<%= PLAYLIST_NAME %>">Shuffle</a>
  </div>
  <div id="item-grid">
    <% vids.forEach(vid => { %>
    <div class="item"><a href="/<%= vid.src %>"><%= vid.name %></a></div>
    <% }); %>
  </div>
</div>
<!-- END -->

<%- include ("partials/footer") %>
