<%- include ("./partials/header") %>

<!-- START -->
<div id="index-page">
  <div id="video-nav">
    <a class="video-button back-button" href="/directory/<%= DIR_NAME %>">Back</a>
    <h1><%= DIR_NAME %></h1>
    <a class="video-button shuffle-button" href="<%= RANDOM_VID %>">Shuffle</a>
  </div>
  <div id="item-grid">
    <form action="/api/playlists/<%= DIR_NAME %>/add-videos" method="POST">
      <div class="form-edit">
        <label for="playlists">Add to</label>
        <select name="playlist" id="playlist">
          <% PLAYLISTS.forEach(playlist => { %>
          <option value="<%= playlist.name %>"><%= playlist.name %></option>
          <% }); %>
        </select>
      </div>
      <div class="form-edit">
        <% vids.forEach(vid => { %>
        <div class="item">
          <input type="checkbox" name="<%= vid.name %>" />
          <%= vid.name %>
        </div>
        <% }); %>
      </div>
      <div class="form-edit">
        <input class="form-submit" type="submit" value="Add to Playlist" />
      </div>
    </form>
  </div>
</div>
<!-- END -->

<%- include ("./partials/footer") %>
